<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            max-width: 1140px;
            margin: auto;
        }
        header{
            background-color: rgba(255, 255, 0, 0.805);
            padding: 18px 15px;
        }
        header nav ul{
            display: flex;
            justify-content: space-evenly;
        }
        header nav ul li{
            list-style: none;
        }
        header nav ul li a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            font-weight: 700;
            text-transform: capitalize;
            transition: all 0.5s;
        }
        header nav ul li a:hover{
            color: rgba(0, 0, 0, 0.537);
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/product/productsui">products</a></li>
                    <li><a href="/product/proui">add product</a></li>
                    <li><a href="/product/cart">cart</a></li>
                    <li><a href="/user/signup">signup</a></li>
                    <li><a href="/user/login">login</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>