<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="form">
        <div class="background">
            <form action="/user/signup" method="post">
                <input type="text" name="username" placeholder="Enter Name"><br>
                <input type="email" name="email" placeholder="Enter Mail"><br>
                <input type="text" name="password" placeholder="Enter Password"><br>
                <input type="submit" class="submit">
            </form>
        </div>
    </div>
</body>
</html>